<div class="modal-xl modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">
                AÑADIR CATEGORIA
            </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span>&times;</span>
            </button>
        </div>
        <form action="{% url 'core:modalCrearCategoria' %}" method="POST">
            <div class="modal-body">

                {% csrf_token %}
                {{formulario.as_p}}

            <style>
                .laSeleccionBox{
                    display:grid;
                    grid-template-columns: 1fr 1fr 1fr 1fr;
                
                }
                .laSeleccionBox li{
                    list-style-type: none;
                    margin:0px 3vh 0px 3vh;
                }
              
            </style>

            </div>
            <div class="modal-footer">
                <button type="dismiss" class="Cerrar" data-dismiss="modal">Cerrar</button>
                <button type="submit" name="accion" class="Guardar" value="categoria">Guardar</button>

            </div>
        </form>
    </div>
</div>
