<div>
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
            AÑADIR PAIS
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <form action="{% url 'core:crear_pais' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
            <button type="submit" name="accion" class="btm btn-success">Guardar</button>
        </div>
    </form>
</div>