{% extends 'base/base.html'%}
{% load static %}


{% block header %}
<button onclick="location.href='/core/localidades'" style="text-decoration:none"
    class="rounded-1 btn btn-lg btn-outline-light text-white ml-4 mt-3"> Hola Administrador</button>
{% endblock header %}



{% block tarjeta1 %}
<div class="card rounded-0">
    <div class="card-header" id="headingOne">
        <button class="btn btn-link btn-block text-white">
            <center>
                <h5> Liquidacion</h5>
            </center>
        </button>
    </div>
</div>
{% endblock tarjeta1 %}
{% block tarjeta2 %}
<div class="card rounded-0">
    <div class="card-header" id="headingOne">
        <button class="btn btn-link btn-block text-white">
            <center>
                <h5> Servicio</h5>
            </center>
        </button>
    </div>
</div>
{% endblock tarjeta2 %}
{% block tarjeta3 %}
<div class="card rounded-0">
    <div class="card-header" id="headingOne">
        <button class="btn btn-link btn-block text-white">
            <center>
                <h5> Vendedor</h5>
            </center>
        </button>
    </div>
</div>
{% endblock tarjeta3 %}
{% block tarjeta4 %}
<div class="card rounded-0">
    <div class="card-header" id="headingOne">
        <button class="btn btn-link btn-block text-white">
            <center>
                <h5> Habitacion</h5>
            </center>
        </button>
    </div>
</div>
{% endblock tarjeta4 %}
{% block tarjeta5 %}
<div class="card rounded-0">
    <div class="card-header" id="headingOne">
        <button class="btn btn-link btn-block text-white">
            <center>
                <h5> Categoria</h5>
            </center>
        </button>
    </div>
</div>
{% endblock tarjeta5 %}
{% block tarjeta6 %}
<div class="card rounded-0">
    <div class="card-header" id="headingOne">
        <button onclick="location.href = '/core/region'" class="btn btn-link btn-block text-white">
            <center>
                <h5> Region</h5>
            </center>
        </button>
    </div>
</div>
{% endblock tarjeta6 %}

{% block tarjeta7 %}
<div class="card rounded-0">
    <div class="card-header" id="headingOne">
        <button class="btn btn-link btn-block text-white">
            <center>
                <h5> Cliente</h5>
            </center>
        </button>
    </div>
</div>
{% endblock tarjeta7 %}



{% block content %}


<h1 align="center">LISTADO DE LOCALIDADES</h1>

<table id="example" class="table table-striped table-bordered" style="width:100%">
    <thead>
        <tr>
            <th>Pais<button type="button" class="btn btn-success ml-4" data-toggle="modal" data-target="#crearPais"
                    data-url="{% url 'core:crear_pais'%}">
                    <img src="/static/icons/plus-circle.svg"
                        class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}"
                        alt="">
                </button>
            </th>
            <th>Provincia<button type="button" class="btn btn-success ml-4" data-toggle="modal"
                    data-target="#crearProvincia">
                    <img src="/static/icons/plus-circle.svg"
                        class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}"
                        alt="">
                </button></th>
            <th>Localidad<button type="button" class="btn btn-success ml-4" data-toggle="modal"
                    data-target="#crearLocalidad">
                    <img src="/static/icons/plus-circle.svg"
                        class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}"
                        alt="">
                </button></th>

            <th>

                <Center>Modificar</Center>
            </th>
            <th>
                <Center>Eliminar</Center>
            </th>
        </tr>
    </thead>
    <tbody>


        {% for ciudad in localidades %}


        <tr>
            <td>{{ciudad.provincia.pais.nombre}}</td>
            <td>{{ciudad.provincia.nombre}}</td>
            <td>{{ciudad.nombre}}</td>

            <td>
                <center>
                    <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#modificarLocalidad">
                        <img src="/static/icons/pencil-square.svg"
                            class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}"
                            alt="">
                    </button>
                </center>

            </td>
            <td>
                <center>
                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#eliminarLocalidad"
                        onclick="enviarModal()">
                        <img src="/static/icons/trash.svg"
                            class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}"
                            alt="">
                    </button>
                </center>
            </td>

        </tr>
        {% endfor %}

    </tbody>
    <tfoot>
        <tr>
            <th>Pais</th>
            <th>Provincia</th>
            <th>Localidad</th>
            <th>
                <Center>Modificar</Center>
            </th>
            <th>
                <Center>Eliminar</Center>
            </th>
        </tr>
    </tfoot>
</table>

<!-- Modal ELIMINAR-->
<div class="modal fade-scale" id="eliminarLocalidad" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-xl modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                    ELIMINAR LOCALIDAD
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h1>Nombre: {{ciudad.nombre}} </h1>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary">Grabar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal AÑADIR PAIS-->
<div class="modal fade-scale" id="crearPais" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-xl modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header ">
                <h5 class="modal-title " id="exampleModalLabel">
                    AÑADIR PAIS
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="POST">
                    {% csrf_token %}
                    {{ formPais.as_p }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                <button type="submit" name="accion" class="btm btn-success" value="provincia">Guardar</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Modal AÑADIR PROVINCIA-->
<div class="modal fade-scale" id="crearProvincia" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-xl modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header ">
                <h5 class="modal-title " id="exampleModalLabel">
                    AÑADIR PROVINCIA
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="POST">
                    {% csrf_token %}
                    {{ formProvincia.as_p }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                <button type="submit" name="accion" class="btm btn-success" value="provincia">Guardar</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal AÑADIR LOCALIDAD-->
<div class="modal fade-scale" id="crearLocalidad" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-xl modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                    AÑADIR LOCALIDAD
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="POST">
                    {% csrf_token %}
                    {{ formLocalidad.as_p }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                <button type="submit" name="accion" class="btm btn-success" value="localidad">Guardar</button>
                </form>
            </div>
        </div>
    </div>
</div>




<!-- Modal MODIFICAR-->
<div class="modal fade-scale" id="modificarLocalidad" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-xl modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title " id="exampleModalLabel">
                    MODIFICAR LOCALIDAD
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary">Grabar</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('#example').DataTable();
    });</script>


{% endblock %}

{% block footer %}
{% endblock footer %}





