{% extends 'base/base.html'%}
{% load static %}


{% block header %}
<button onclick="location.href='#'" style="text-decoration:none"
            class="rounded-1 btn btn-lg btn-outline-light text-white ml-4 mt-3"> Hola Vendedor </button>
{% endblock header %}

{% block tarjeta1 %}
<div class="card rounded-0">
    <div class="card-header" id="headingOne">
        <button class="btn btn-link btn-block text-white">
            <center>
                <h5> Cliente</h5>
            </center>
        </button>
    </div>
</div>
{% endblock tarjeta1 %}
