{% extends 'base/base_vendedor.html'%}
{% load static %}

{% block header %}
<button onclick="location.href='/venta/vendedor'" style="text-decoration:none"
    class="rounded-1 btn btn-lg btn-outline-light text-white ml-4 mt-1"> VENDEDOR </button>
{% endblock header %}
{% block carrito %}
<button onclick="location.href='#'" style="text-decoration:none"
    class="rounded-1 btn btn-lg btn-outline-light text-white float-right mt-2"><i class="fas fa-shopping-cart"></i>
</button>
{% endblock carrito %}



{% block content %}
<p>
<h1>AQUI LAS COSAS DEL VENDEDOR</h1>
</p>

<p>
    <h1>LISTADO DE HOTELES, EL DATE PICKER ETC</h1>
    </p>
{% endblock %}}

{% block extrajs %}
{% endblock %}

