{% extends 'base/vendedor.html'%}
{% load static %}
{% load hotel %}

{% block headerContenido %}
{% endblock headerContenido %}


{% block content %}


<div class="ventaVendedor" id="vendedor">
    <center>
        <h1 class="my-4">LISTADO DE HOTELES</h1>
    </center>

    <div>
       
        <form action="{%url 'venta:iniciar_venta'%} " method="POST">
         {% csrf_token %}
                    <label for="fecha1"> desde: </label>
            <input type="date" id="fecha1" name="fecha_inicio" value="" min="" max=""
                onclick="fecha_actual();">
            <label for="fecha2"> hasta: </label>   
            <input type="date" id="fecha2" name="fecha_fin" value="" min="" max=""
                onclick="fecha_minima();">
            <label for="pasajeros" > Pasajeros: </label>
            <input type="number" id="pasajeros" name="pasajeros" min=1>
            <input type="submit" id="filtrar" name="filtrar" min=1>
        </form >
    </div>

    <table id="example1" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                    <th>Nombre</th>
                    <th>Localidad</th>
                    <th>Direccion</th>
                    <th>Email</th>
                    <th>Telefono</th>
                    <th>Encargado</th>
                    <th>Categoria</th>
            </tr>
        </thead>
        <tbody>
            {% for hotel in colHoteles %}
            {% hotel_disponible hotel as tengo_habitaciones %}
            <tr class="{% if tengo_habitaciones %}
            comercializable manito
            {% else %}
            noComercializable manito
            {% endif%}
            " onclick="{% if tengo_habitaciones %}
                location.href='{% url 'venta:buscarHabitaciones' hotel.pk %}'
            {% endif%}">
                <div class="pepito">
                    <td>{{hotel.nombre}}</td>
                    <td>{{hotel.localidad}}</td>
                    <td>{{hotel.direccion}}</td>
                    <td>{{hotel.email}}</td>
                    <td>{{hotel.telefono}}</td>
                    <td>{{hotel.encargado.persona.nombre}} {{hotel.encargado.persona.apellido}}</td>
                    <td>{{hotel.categoria.nombre}}</td>

                </div>
            </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <th>Nombre</th>
                <th>Localidad</th>
                <th>Direccion</th>
                <th>Email</th>
                <th>Telefono</th>
                <th>Encargado</th>
                <th>Categoria</th>

            </tr>
        </tfoot>
    </table>

    <!--Modal crear Hotel en otro html-->
</div>

{% endblock content %}

{% block extrajs %}

<script type="text/javascript">
    //SCRIPT DE DATATABLE
    const $ = jQuery.noConflict();
    $(document).ready(function () {
        $('#example1').DataTable();
    });
</script>



{% endblock extrajs%}