{% extends 'base/vendedor.html'%}
{% load static %}


{% block headerContenido %}
{% endblock headerContenido %}


{% block content %}


<div class="ventaVendedor" id="vendedor">
    <center>
        <h1 class="my-4">LISTADO DE HOTELES</h1>
    </center>

    <div>
        <label for="fecha1"> desde: </label>
        <input type="date" id="fecha1" name="trip-start" value="" min="" max=""
            onclick="fecha_actual();">
        <label for="fecha2"> hasta: </label>   
        <input type="date" id="fecha2" name="trip-start" value="" min="" max=""
            onclick="fecha_minima();">
        <label for="pasajeros" > Pasajeros: </label>
        <input type="number" id="pasajeros" name="pasajeros" min=1>
    </div>

    <table id="example1" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                    <th>Nombre</th>
                    <th>Localidad</th>
                    <th>Direccion</th>
                    <th>Email</th>
                    <th>Telefono</th>
                    <th>Encargado</th>
                    <th>Categoria</th>
            </tr>
        </thead>
        <tbody>
            {% for hotel in colHoteles %}

            <tr class="{% if hotel.es_comercializable%}
            comercializable manito
            {% else %}
            noComercializable manito
            {% endif%}
            " onclick="abrir_vista_hotel({{hotel.pk}});">
                <div class="pepito">
                    <td>{{hotel.nombre}}</td>
                    <td>{{hotel.localidad}}</td>
                    <td>{{hotel.direccion}}</td>
                    <td>{{hotel.email}}</td>
                    <td>{{hotel.telefono}}</td>
                    <td>{{hotel.encargado.persona.nombre}} {{hotel.encargado.persona.apellido}}</td>
                    <td>{{hotel.categoria.nombre}}</td>

                </div>
            </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <th>Nombre</th>
                <th>Localidad</th>
                <th>Direccion</th>
                <th>Email</th>
                <th>Telefono</th>
                <th>Encargado</th>
                <th>Categoria</th>

            </tr>
        </tfoot>
    </table>

    <!--Modal crear Hotel en otro html-->
</div>

{% endblock content %}

{% block extrajs %}

<script type="text/javascript">
    //SCRIPT DE DATATABLE
    const $ = jQuery.noConflict();
    $(document).ready(function () {
        $('#example1').DataTable();
    });
</script>

<script>
    function abrir_vista_hotel(hotel){
        var fecha_inicio = document.getElementById("fecha1").value;
        var fecha_fin = document.getElementById("fecha2").value;
        var cant_pasajeros = document.getElementById("pasajeros").value;
        console.log( fecha_fin, fecha_inicio , cant_pasajeros, hotel);
        location.href='{% url 'venta:vistaBuscarHabitacion' fecha_inicio fecha_fin cant_pasajeros hotel %}'
    }
</script>

{% endblock extrajs%}