<div class="modal-xl modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">AÑADIR TEMPORADA</h5>
      <button
        type="button"
        class="close"
        data-dismiss="modal"
        aria-label="Close"
      >
        <span>&times;</span>
      </button>
    </div>
    <form
      action="{% url 'hotel:modalCrearTemporadaHotel' hotel.pk %}"
      method="POST"
    >
      <div class="modal-body">
        <input class="datepicker" data-date-format="mm/dd/yyyy" />
        {% csrf_token %} 
        {{formulario.media}} 
        {{formulario}} 

        <style>
          .laSeleccionBox {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
          }

          .laSeleccionBox li {
            list-style-type: none;
            margin: 0px 3vh 0px 3vh;
          }

          .errorList li {
            display: none;
          }
        </style>
      </div>
      <div class="modal-footer">
        <button type="dismiss" class="cerrar" data-dismiss="modal">
          Cerrar
        </button>
        <button type="submit" name="accion" class="guardar" value="hotel">
          Guardar
        </button>
      </div>
    </form>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function () {

    
    $(".datepicker").datetimepicker({ sideBySide: true  format: 'DD/MM/YYYY'})
  });
 </script>
